<!DOCTYPE html>
<html>
   <body>
   
      <h3>Add Data</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "container">container</label><br>
         <input type = "text" name = "container" placeholder = "container" /><br>
         <label for = "name">name</label><br>
         <input type = "text" name = "name" placeholder = "name" /><br>
         <label for = "url">url</label><br>
         <input type = "text" name = "url" placeholder = "url" /><br>
         <label for = "status">status</label><br>
         <input type = "text" name = "status" placeholder = "status" /><br>
         
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>
