<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_data') }}">Containers Data</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Conteiner Data (<a href = "{{ url_for('add_data') }}">Add Data
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>container</th>
               <th>name</th>
               <th>url</th>
	       <th>status</th>    
            </tr>
         </thead>
         
         <tbody>
            {% for fdata in data %}
               <tr>
                  <td>{{ fdata.container }}</td>
                  <td>{{ fdata.name }}</td>
                  <td>{{ fdata.url }}</td>
		  <td>{{ fdata.status }}</td>     
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>
